<h1>Contact Us</h1>

<br>

<p>Email: support@craftopia.com <br>
Phone: +1 (555) 123-4567<br>
Live Chat: Available on our website during business hours<br>

<br>

Our dedicated team is here to assist you with any inquiries, from product details to <br>
order assistance. Connect with us and let's make your Craftopia experience exceptional!</p>

<%= render 'shared/links' %>